body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 10px gray;
    z-index: 2;
}

.header > h1 {
    color: white;
    margin: 0;
}

.header > button {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
}

.book-list-section {
    flex: 1;
    background-color: rgb(230, 230, 230);
}

#book-table {
    width: 100%;
    border-collapse: collapse;
}

#book-table th {
    text-align: center;
}

#book-table td {
    text-align: center;
    padding: 0;
    border: 0;
}

#book-table tr:nth-child(odd) {
    background-color:white;
}